html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  font-family: Cambria, serif;
  color: #ffffff;
  text-align: center;
}

